<div>
    
    <div style="margin-left:25px; margin-top:25px">
        <div>
            <span style="font-size:22px; font-weight:bold; margin-right:15px"><a ui-sref="app.tutall">Review</a></span>
            <span style="font-size:22px; font-weight:bold"><a ng-click="logout()">Logout</a></span>
        </div>
        <div>
            <span style="font-size:18px;">User: {{userName}}</span>
        </div>
    </div>
    
    <div style="margin-left:25px; margin-top:25px">
        <div style="float:left; width:400px; height:800px; border-style:solid; border-width:1px; border-color:#eeeeee;">
            <div style="margin:20px">
                <div style="font-weight:bold">Content: </div>
                <div>Created at: {{details.createdAt | date: 'yyyy/MM/dd'}}</div>
                <div>Number or words: {{details.num_of_word}}</div>
                <div style="margin-top:25px">
                    {{details.content}}
                </div>
            </div>
        </div>
        <div style="float:left; width:400px; height:800px; margin-left:25px; border-style:solid; border-width:1px; border-color:#eeeeee;">
            <div style="margin:20px">
                <div style="font-weight:bold">Graded Content:</div>
                <textarea style="margin-top:50px" ng-model="gradedContent" rows="30" cols="42" placeholder="please edit your the writing here"></textarea>
                <button ng-click="submitGradedContent()">Submit</button>
            </div>
        </div>
    </div>
    
</div>